name: build gnomi

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: etc/Dockerfile
          push: false
          tags: gnomi:ci
          cache-from: type=gha
          cache-to: type=gha,mode=max
